.rocketPlacement {
    position: absolute;
    left: 51%;
    top: 45%;
    transform: translate(-50%, -50%);
    height: 85%;
    aspect-ratio: 1 / 1;
    animation: zIndexSwitch 7s linear infinite;
}

.rocket {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* margin: -30px; */

    border: 4px solid transparent;
    border-left: 4px solid #00dc80af;
    filter: drop-shadow(0 0 0px #00dc8054) drop-shadow(0 0 20px #00dc8054) drop-shadow(0 0 20px #00dc8054);
    animation: animate 7s linear infinite;

}


@keyframes zIndexSwitch {
    0% {
        z-index: -1;
    }

    49% {
        z-index: -1;
    }

    50% {
        z-index: 5;
    }

    99% {
        z-index: 5;
    }

    100% {
        z-index: -1;
    }
}


@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes leftEyeRotate {
    0% {

        transform: translate(calc(-50% - 0px), -4px);
        /* transform: translate(calc(-50% - 2px), 0px); */
    }



    25% {

        transform: translate(calc(-50% + 3px), 0px);
    }



    50% {

        transform: translate(calc(-50% - 3px), 5px);
    }

    75% {

        transform: translate(calc(-50% + -8px), 0px);
    }

    100% {
        transform: translate(calc(-50% - 0px), -4px);
    }
}

@keyframes rightEyeRotate {
    0% {
        transform: translate(calc(-50% + 7px), -5px);
        /* transform: translate(calc(-50% + 4px), 0px); */
    }

    25% {

        transform: translate(calc(-50% + 11px), 0px);
    }

    50% {

        transform: translate(calc(-50% + 2px), 5px);
    }

    75% {

        transform: translate(calc(-50% + -5px), 0px);
    }

    100% {
        transform: translate(calc(-50% + 7px), -5px);
    }
}


.rightEye {
    /* animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0); */
    animation: rightEyeRotate 7s ease-out infinite;
    animation-delay: 1.2s;
    z-index: -1;
    transform: translate(calc(-50% + 4px), 0px);
}

.leftEye {
    /* animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0); */
    animation: leftEyeRotate 7s ease-out infinite;
    animation-delay: 1.2s;
    z-index: -1;
    transform: translate(calc(-50% - 2px), 0px);

}

.pupille {
    background: rgb(234, 224, 207);
    background: radial-gradient(circle, rgba(234, 224, 207, 1) 0%, rgba(246, 238, 222, 1) 100%);
    position: absolute;
    min-width: 80px;
    width: 25%;
    height: 12%;
    top: 45%;
    z-index: -2;
    left: 52%;
    transform: translate(-50%, -50%);
}

.rocket::before {
    content: url("/icons/rocket.svg");
    position: absolute;
    transform: rotate(-90deg);
    top: 9%;
    right: 80%;
    rotate: 90deg;
    width: 12%;
    height: 12%;
}